* {
  box-sizing: border-box;
}

.wrapper {
  width: 1030px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.hippodrome {
  padding: 30px;
  border: 3px solid rgb(107, 73, 47);
  border-radius: 30px;
  background-color: rgba(245, 245, 220, 0.522);
}

.hippodrome__title {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(107, 73, 47);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hippodrome__subtitle {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
}

.hippodrome__title--bottom-indent {
  margin: 0;
  margin-bottom: 20px;
}

.hippodrome__btn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;

  width: 150px;
  height: 50px;

  cursor: pointer;
  border: 2px solid white;
  border-radius: 10px;
  background-color: rgb(107, 73, 47);
  color: white;
  transition: color 250ms linear, background-color 250ms linear;

  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hippodrome__btn:hover,
.hippodrome__btn:focus {
  background-color: transparent;
  border-color: rgb(107, 73, 47);
  color: rgb(107, 73, 47);
}

.horses {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -15px;
  margin-bottom: 20px;
  list-style: none;
  padding: 0;
}

.horses__item {
  position: relative;
  flex-basis: calc((100% - 15px * 8) / 4);
  margin: 15px;
}

.horses__label {
  position: relative;
  display: block;
  /* border: 3px solid transparent; */
  border-radius: 15px;
  overflow: hidden;

  box-shadow: 3px 3px 2px rgb(71, 71, 71);
  transition: transform 0.4s ease-in-out;
}

.horses__label:hover,
.horses__label:focus {
  transform: scale(1.1);
}

.horses__input:checked + .horses__label {
  transform: scale(1.1);
  box-shadow: 5px 5px 4px rgb(71, 71, 71);
}

.horses__input:checked + .horses__label > span {
  color: white;
  background-color: green;
}

.horses__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  text-align: center;

  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: white;

  background-color: rgba(78, 78, 78, 0.095);
}

.horses__img {
  width: 100%;
  display: block;
}

.horses__input {
  position: absolute;
  left: 50%;
  bottom: 50%;
  visibility: hidden;
  /* z-index: 5; */
}

.inform-window {
  margin-bottom: 20px;
  border: 2px solid rgb(107, 73, 47);
  border-radius: 15px;
  min-height: 80px;

  padding: 10px 20px;

  font-size: 20px;
  font-style: italic;
}

.inform-window__text:not(:last-child) {
  margin-bottom: 10px;
}

.inform-window__text--winner {
  color: forestgreen;
}

.notification {
}
.notification__text {
}

table caption {
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  border: 2px solid rgb(107, 73, 47);
}
